.pro-header > i{
  text-align: center;
  display: block;
}

.bottom-right {
  position: fixed;
  right: 25px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  line-height: 20px;
  z-index: 1000;
  font-size: 1.5em;
  padding: 8px;
  background-color: rgba(255,255,255,.12);
  border-radius: 50%;
  color: #409eff;
  &::after {
    filter: blur(20px);
  }
  box-shadow: 0 0 6px rgba(0,0,0,.12);
}